

<div class="bellmaker_container">
    <h1>Tabs View</h1>
    <p>{{ foobar.foo }}/{{ foobar.bar }}</p>
    <my-tabs>
        <my-pane title="hello">
            <h4>Hello</h4>
            <p>Lorem ipsum dolor sit amet</p>
        </my-pane>
        <my-pane title="world">
            <h4>World</h4>
            <em>Mauris elementum elementum enim at suscipit.</em>
            <p><a href ng-click="i = i + 1">counter: {{ i || 0 }}</a></p>
        </my-pane>
    </my-tabs>
</div>

<!--
<div class="bellmaker_container">
    <h1>Tabs View</h1>
    <my-tabs>
        <my-pane title="hello">
            <h4>Hello</h4>
            <p>Lorem ipsum dolor sit amet</p>
        </my-pane>
        <my-pane title="world">
            <h4>World</h4>
            <em>Mauris elementum elementum enim at suscipit.</em>
            <p><a href ng-click="i = i + 1">counter: {{ i || 0 }}</a></p>
        </my-pane>
    </my-tabs>
</div>

-->
