html {
  font-size: 62.5%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow: -moz-scrollbars-vertical;
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  padding: 0;
  margin: 0;
  font-size: 100%;
  position: relative;
  text-rendering: optimizelegibility;
  font-size: 1em;
  line-height: 1;
  font-family: Helvetica, Arial, sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
table,
td,
ul,
ol,
h1,
h2,
h3,
h4,
p,
img,
figure {
  margin: 0;
}
ul,
ol {
  padding-left: 0;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
pre {
  overflow: auto;
}
code {
  white-space: pre-wrap;
}
pre > code {
  white-space: pre;
}
button {
  cursor: pointer;
}
button:disabled {
  cursor: default;
}
.bellmaker_container {
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 320px) {
  .bellmaker_container {
    width: 100%;
  }
}
@media only screen and (min-width: 480px) {
  .bellmaker_container {
    width: 100%;
  }
}
@media only screen and (min-width: 640px) {
  .bellmaker_container {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .bellmaker_container {
    width: 76.8rem;
  }
}
@media only screen and (min-width: 1024px) {
  .bellmaker_container {
    width: 96rem;
  }
}
@media only screen and (min-width: 1280px) {
  .bellmaker_container {
    width: 115.2rem;
  }
}
@media only screen and (min-width: 1440px) {
  .bellmaker_container {
    width: 134.4rem;
  }
}
.sunflash_navmenu {
  overflow: auto;
}
.sunflash_navmenu li {
  display: block;
  float: left;
  list-style-type: none;
}
.sunflash_navmenu li a {
  display: block;
}
.font_standard {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.font_subtitle {
  font-size: 2.2rem;
  line-height: 3rem;
}
.font_title {
  font-size: 3.6rem;
  line-height: 4.8rem;
}
.font_largetitle {
  font-size: 4.8rem;
  line-height: 6rem;
}
body {
  font-family: 'Tinos', serif;
}
h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif;
}
ul {
  padding-bottom: 2.4rem;
}
p,
li {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
article {
  clear: both;
}
a:link,
a:visited {
  color: #55236c;
}
a:hover {
  color: #0d3924;
}
#photo_switcher {
  width: 33.3333vw;
  float: left;
}
#photo_switcher figure {
  width: 100%;
  height: 33.33333vh;
  overflow-y: hidden;
}
#photo_switcher img {
  width: 100%;
}
.bellmaker_container {
  /*
    background-image: 
        linear-gradient(90deg, @g_line 0%, @g_line 100%);
    background-repeat: repeat-y;
    position: relative;
    // padding-left: 0.2rem;
    // padding-right: 0.2rem;
    background-size: 0.2rem 1rem;

    // &:before {
    //     display: block;
    //     content: "";
    //     background-color: @g_line;
    //     width: 0.2rem;
    //     top: 0;
    //     bottom: 0;
    //     position: absolute;
    //     left: -0.2rem;
    //     z-index: 10;

    // }

    @media @da_small {
        background-position: 19rem 0;
    }
    @media @da_medium {
        background-position: 23.8rem 0;
    }
    @media @da_large {
        background-position: 28.6rem 0;
    }
    @media @da_x_large {
        background-position: 33.4rem 0;
    }
    */
}
#banner_container {
  /*
    background-image: linear-gradient(90deg, @color_kyudo_purple_1 0%, @color_kyudo_purple_1 100%);
    background-repeat: no-repeat;


    @media @da_small {
        background-position: 0 8rem;
        background-size: 100% @pw_small * 0.421875;
    }
    @media @da_medium {
        background-size: 100% @pw_medium * 0.421875;
    }
    @media @da_large {
        background-position: 0 10rem;
        background-size: 100% @pw_large * 0.421875;
    }
    @media @da_x_large {
        background-size: 100% @pw_x_large * 0.421875;
    }  
    */
}
#kanji_box {
  float: right;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  #kanji_box {
    width: 19.2rem;
  }
}
@media only screen and (min-width: 1024px) {
  #kanji_box {
    width: 24rem;
  }
}
@media only screen and (min-width: 1280px) {
  #kanji_box {
    width: 28.8rem;
  }
}
@media only screen and (min-width: 1440px) {
  #kanji_box {
    width: 33.6rem;
  }
}
@media only screen and (min-width: 320px) {
  #kanji_box {
    width: 25%;
  }
  #kanji_box img {
    width: 100%;
    margin-top: 10vw;
  }
}
@media only screen and (min-width: 768px) {
  #kanji_box {
    height: 100vh;
    max-height: 57.6rem;
  }
  #kanji_box img {
    margin: 5rem auto 0 auto;
  }
}
@media only screen and (min-width: 1024px) {
  #kanji_box {
    max-height: 66rem;
    max-height: 96rem;
  }
}
@media only screen and (min-width: 1280px) {
  #kanji_box {
    max-height: 72rem;
  }
}
@media only screen and (min-width: 1440px) {
  #kanji_box {
    max-height: 75.6rem;
  }
  #kanji_box img {
    width: 32.256rem;
    margin-top: 5rem;
  }
}
[role="banner"] {
  float: right;
  position: relative;
}
@media only screen and (min-width: 768px) {
  [role="banner"] {
    width: 57.6rem;
  }
}
@media only screen and (min-width: 1024px) {
  [role="banner"] {
    width: 72rem;
  }
}
@media only screen and (min-width: 1280px) {
  [role="banner"] {
    width: 86.4rem;
  }
}
@media only screen and (min-width: 1440px) {
  [role="banner"] {
    width: 100.8rem;
  }
}
[role="banner"] h1 {
  font-weight: 200;
  text-transform: uppercase;
}
@media only screen and (min-width: 320px) {
  [role="banner"] {
    width: 75%;
  }
  [role="banner"] h1 {
    position: absolute;
    left: -33.33333333%;
    width: 133.33333333%;
    box-sizing: border-box;
    padding-left: 2vw;
    font-size: 7vw;
    line-height: 10vw;
  }
  [role="banner"] p {
    margin-top: 10vw;
  }
  [role="banner"] p span {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  [role="banner"] h1 {
    position: static;
    width: auto;
    padding-left: 0;
    background-color: transparent;
    margin-top: 10rem;
    font-size: 3.6rem;
    line-height: 4.8rem;
  }
  [role="banner"] p {
    margin-top: 0;
    padding-bottom: 2.4rem;
  }
  [role="banner"] p span {
    display: inline;
  }
}
@media only screen and (min-width: 1024px) {
  [role="banner"] h1 {
    margin-top: 12rem;
    font-size: 4.8rem;
    line-height: 6rem;
  }
  [role="banner"] p {
    font-size: 2.2rem;
    line-height: 3rem;
    padding-bottom: 3rem;
  }
}
@media only screen and (min-width: 1280px) {
  [role="banner"] h1 {
    margin-top: 13rem;
    font-size: 6rem;
    line-height: 8rem;
  }
}
@media only screen and (min-width: 1440px) {
  [role="banner"] h1 {
    margin-top: 15rem;
    font-size: 6rem;
    line-height: 8rem;
  }
}
/*
@media @da_small {
    .bellmaker_container, #kyudo_kanji {
        min-height: 8rem + 8.7rem + @pw_small * 0.421875;
    }
}
@media @da_medium {
    .bellmaker_container, #kyudo_kanji {
        min-height: 8rem + 8.7rem + @pw_medium * 0.421875;
    }
}
@media @da_large {
    .bellmaker_container, #kyudo_kanji {
        min-height: 10rem + 8.7rem + @pw_large * 0.421875;
    }
}
@media @da_x_large {
    .bellmaker_container, #kyudo_kanji {
        min-height: 10rem + 8.7rem + @pw_x_large * 0.421875;
    }
}
*/
#quick_info {
  width: 75%;
  float: right;
}
#quick_info p {
  padding: 1.5rem 0 0 1.5rem;
  margin-bottom: 0;
}
#quick_info :after {
  display: block;
  content: "";
}
#kyudo_kanji {
  float: right;
  width: 25%;
  position: relative;
  background-image: linear-gradient(0deg, #ffffff 0%, #ffffff 100%);
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  #kyudo_kanji {
    background-size: 19rem 100%;
  }
}
@media only screen and (min-width: 1024px) {
  #kyudo_kanji {
    background-size: 23.8rem 100%;
  }
}
@media only screen and (min-width: 1280px) {
  #kyudo_kanji {
    background-size: 28.6rem 100%;
  }
}
@media only screen and (min-width: 1440px) {
  #kyudo_kanji {
    background-size: 33.4rem 100%;
  }
}
#kyudo_kanji:after {
  display: block;
  content: "";
  background-color: #55236c;
  width: 0.2rem;
  position: absolute;
  z-index: 11;
}
@media only screen and (min-width: 768px) {
  #kyudo_kanji:after {
    top: 8rem;
    left: -0.2rem;
  }
}
@media only screen and (min-width: 1280px) {
  #kyudo_kanji:after {
    top: 10rem;
  }
}
@media only screen and (min-width: 768px) {
  #kyudo_kanji:after {
    height: 32.4rem;
  }
}
@media only screen and (min-width: 1024px) {
  #kyudo_kanji:after {
    height: 40.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  #kyudo_kanji:after {
    height: 48.6rem;
  }
}
@media only screen and (min-width: 1440px) {
  #kyudo_kanji:after {
    height: 56.7rem;
  }
}
#kyudo_kanji div {
  box-sizing: border-box;
  height: 100vh;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  #kyudo_kanji div {
    padding: 6rem 1.2rem 0 1.2rem;
  }
}
@media only screen and (min-width: 1024px) {
  #kyudo_kanji div {
    padding: 6rem 1.5rem 0 1.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  #kyudo_kanji div {
    padding: 8rem 2rem 0 2rem;
  }
}
@media only screen and (min-width: 1440px) {
  #kyudo_kanji div {
    padding: 8rem 2.3rem 0 2.3rem;
  }
}
#kyudo_kanji img {
  width: 100%;
}
[role="banner"] {
  /*
    @media @da_small {
        width: 75%;
        float: left;
        height: 8rem;

        h1 {
            float: right;
            font-size: 3rem;
            line-height: 4rem;
            padding-top: 4rem;
        }
    }
    @media @da_large {
        height: 10rem;

        h1 {
            float: right;
            font-size: 4rem;
            line-height: 5rem;
            padding-top: 5rem;
        }
    }
    */
}
#banner_images {
  width: 75%;
  float: left;
}
#banner_images figure {
  position: relative;
}
#banner_images figure p {
  position: absolute;
  bottom: 0;
}
#banner_images img {
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  #banner_images figure,
  #banner_images img {
    width: 57.6rem;
  }
}
@media only screen and (min-width: 1024px) {
  #banner_images figure,
  #banner_images img {
    width: 72rem;
  }
}
@media only screen and (min-width: 1280px) {
  #banner_images figure,
  #banner_images img {
    width: 86.4rem;
  }
}
@media only screen and (min-width: 1440px) {
  #banner_images figure,
  #banner_images img {
    width: 100.8rem;
  }
}
@media only screen and (min-width: 768px) {
  #banner_images figure,
  #banner_images img {
    height: 32.4rem;
  }
}
@media only screen and (min-width: 1024px) {
  #banner_images figure,
  #banner_images img {
    height: 40.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  #banner_images figure,
  #banner_images img {
    height: 48.6rem;
  }
}
@media only screen and (min-width: 1440px) {
  #banner_images figure,
  #banner_images img {
    height: 56.7rem;
  }
}
.home_page_article section {
  min-height: 100vh;
}
@media only screen and (min-width: 768px) {
  .home_page_article section {
    width: 48rem;
    padding-left: 24rem;
  }
}
@media only screen and (min-width: 1024px) {
  .home_page_article section {
    width: 54rem;
    padding-left: 36rem;
  }
}
@media only screen and (min-width: 1280px) {
  .home_page_article section {
    width: 57.6rem;
    padding-left: 43.2rem;
  }
}
.home_page_article p:first-child {
  padding-top: 2.2rem;
}
#faq_page.home_page_article section {
  min-height: 0;
}
#kasumi {
  background-image: linear-gradient(90deg, #ffffff 0%, #ffffff 50%, #0d3924 50%, #0d3924 100%);
  background-image: linear-gradient(90deg, #0d3924 0%, #0d3924 100%);
  background-repeat: no-repeat;
  background-position: 0 center;
}
#kasumi [data-bellmaker-background] {
  background-image: url("/images/kasumi_mato.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  background-attachment: fixed;
}
#kasumi .bellmaker_container {
  background-color: #33b878;
  background-image: url("/images/kasumi_mato.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  background-attachment: fixed;
  box-sizing: border-box;
}
@media only screen and (min-width: 768px) {
  #kasumi [data-bellmaker-background],
  #kasumi .bellmaker_container {
    background-size: 48rem;
  }
  #kasumi .bellmaker_container {
    height: 475px;
  }
}
@media only screen and (min-width: 1024px) {
  #kasumi [data-bellmaker-background],
  #kasumi .bellmaker_container {
    background-size: 60rem;
  }
  #kasumi .bellmaker_container {
    height: 594px;
  }
}
@media only screen and (min-width: 1280px) {
  #kasumi [data-bellmaker-background],
  #kasumi .bellmaker_container {
    background-size: 72rem;
  }
  #kasumi .bellmaker_container {
    height: 712px;
  }
}
@media only screen and (min-width: 1440px) {
  #kasumi [data-bellmaker-background],
  #kasumi .bellmaker_container {
    background-size: 86rem;
  }
  #kasumi .bellmaker_container {
    height: 844px;
  }
}
#kasumi p {
  color: #FFF;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
[role="contentinfo"] {
  clear: both;
}
