html {
  font-size: 62.5%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow: -moz-scrollbars-vertical;
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  padding: 0;
  margin: 0;
  font-size: 100%;
  position: relative;
  text-rendering: optimizelegibility;
  font-size: 1em;
  line-height: 1;
  font-family: Helvetica, Arial, sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
table,
td,
ul,
ol,
h1,
h2,
h3,
h4,
p,
img,
figure {
  margin: 0;
}
ul,
ol {
  padding-left: 0;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
pre {
  overflow: auto;
}
code {
  white-space: pre-wrap;
}
pre > code {
  white-space: pre;
}
.bellmaker_container {
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 320px) {
  .bellmaker_container {
    width: 100%;
  }
}
@media only screen and (min-width: 480px) {
  .bellmaker_container {
    width: 100%;
  }
}
@media only screen and (min-width: 640px) {
  .bellmaker_container {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .bellmaker_container {
    width: 76.8rem;
  }
}
@media only screen and (min-width: 1024px) {
  .bellmaker_container {
    width: 96rem;
  }
}
@media only screen and (min-width: 1280px) {
  .bellmaker_container {
    width: 115.2rem;
  }
}
@media only screen and (min-width: 1440px) {
  .bellmaker_container {
    width: 134.4rem;
  }
}
.sunflash_navmenu {
  overflow: auto;
}
.sunflash_navmenu li {
  display: block;
  float: left;
  list-style-type: none;
}
.sunflash_navmenu li a {
  display: block;
}
#photo_switcher {
  width: 33.3333vw;
  float: left;
}
#photo_switcher figure {
  width: 100%;
  height: 33.33333vh;
  overflow-y: hidden;
}
#photo_switcher img {
  width: 100%;
}
#banner_container {
  min-height: 100vh;
  background-image: linear-gradient(90deg, #55236c 0%, #55236c 100%);
  background-repeat: no-repeat;
  background-position: 0 8rem;
}
@media only screen and (min-width: 768px) {
  #banner_container {
    background-size: 100% 32.4rem;
  }
}
@media only screen and (min-width: 1024px) {
  #banner_container {
    background-size: 100% 40.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  #banner_container {
    background-size: 100% 48.6rem;
  }
}
@media only screen and (min-width: 1440px) {
  #banner_container {
    background-size: 100% 56.7rem;
  }
}
#kyudo_kanji {
  float: left;
  width: 25%;
  height: 100vh;
  background-color: #FFF;
}
#kyudo_kanji div {
  box-sizing: border-box;
  height: 100vh;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  #kyudo_kanji div {
    padding: 6rem 1.2rem 0 1.2rem;
  }
}
@media only screen and (min-width: 1024px) {
  #kyudo_kanji div {
    padding: 6rem 1.5rem 0 1.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  #kyudo_kanji div {
    padding: 6rem 2rem 0 2rem;
  }
}
@media only screen and (min-width: 1440px) {
  #kyudo_kanji div {
    padding: 6rem 2rem 0 2rem;
    background-color: #F00;
  }
}
#kyudo_kanji img {
  max-height: 100%;
  max-width: 100%;
}
[role="banner"] {
  width: 75%;
  float: left;
  height: 8rem;
}
[role="banner"] h1 {
  float: right;
  font-size: 3rem;
  line-height: 4rem;
  padding-top: 4rem;
}
#banner_images {
  width: 75%;
  float: left;
}
@media only screen and (min-width: 768px) {
  #banner_images figure,
  #banner_images img {
    width: 57.6rem;
    height: 32.4rem;
  }
}
@media only screen and (min-width: 1024px) {
  #banner_images figure,
  #banner_images img {
    width: 72rem;
    height: 40.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  #banner_images figure,
  #banner_images img {
    width: 86.4rem;
    height: 48.6rem;
  }
}
@media only screen and (min-width: 1440px) {
  #banner_images figure,
  #banner_images img {
    width: 100.8rem;
    height: 56.7rem;
  }
}
#banner_images figure {
  position: relative;
}
#banner_images figure p {
  position: absolute;
  bottom: 0;
}
#banner_images img {
  margin: 0 auto;
}
[role="contentinfo"] {
  clear: both;
}
body {
  font-family: 'Arvo', serif;
}
h1,
h2,
h3 {
  font-family: 'Josefin Sans', sans-serif;
}
h1 {
  font-weight: 300;
}
