<article id="faq_page" class="home_page_article">
    <div class="bellmaker_container">
        <h1>{{ faq.title }}</h1>

        <div data-ng-bind-html="faq.description"></div>

        <section data-ng-repeat="entry in faq.questions">
            <h2>{{ entry.title }}</h2>
            <div data-ng-bind-html="entry.answer"></div>
        </section>

    </div>
</article>





    <footer role="contentinfo">
        <p>&copy; 2014 Northern Virginia Kyudo Renmei</p>
        <p>By Jimmy Ha, <a href="http://herereadthis.com">herereadthis.com</a></p>
    </footer>

