<article>
    <div class="bellmaker_container">
        <h1>Frequently Asked Questions (FAQ) for New Students</h1>

        <p>If you are interested in practicing Kyudo with us, the best way to start is to simply come to one of our practices. You will be able to attend and participate in a few practices before you are asked to sign anything or pay any money. This is because many people begin their Kyudo practice because it looks beautiful, but soon discover that the beauty of the Kyudo performance comes as a result of hard work and discipline. It’s not as easy as it looks!</p>

        <p>So we try to give prospective students a chance to make sure they really want to do this before making any commitments.</p>

        <p>PLEASE NOTE: Our practice schedule can change without notice for a variety of reasons. So, it’s always best to check with the dojo leader before coming by to make sure there has been no schedule change.</p>

        <section>
            <h2>What does it cost to study Kyudo?</h2>

            <p>The cost of studying Kyudo at the VKR varies from dojo to dojo and depends on the costs that each dojo incurs to maintain its location.</p>

            <p>In addition to monthly charges which each dojo requires, the American Kyudo Renmei (the national organization for American Kyudo) charges annual dues, payable by December 31st of each year. Currently the annual dues to the AKR are set at ten dollars.</p>

            <p>When we travel to seminars, other training sessions (such as to practice at the dojo of the North Carolina Kyudo Renmei) or demonstrations, we share expenses equally.</p>
        </section>

        <section>
            <h2>What equipment will I have to buy?</h2>

            <p>Initially, none – you won’t need to invest in equipment until you’re sure that Kyudo is for you. Once you make that decision (and your instructor agrees that the time is right), you may begin to purchase your equipment and uniform a little at a time. It costs approximately $1,200 to equip yourself with a bow, arrows, shooting glove, hakama, heikogi, tabi and accessories.</p>
        </section>

        <section>
            <h2>Do I have to speak Japanese?</h2>

            <p>No, classes are conducted in English. However, since Kyudo is a Japanese-derived art, the Japanese term for many technical concepts and items are used rather than trying to find an English translation. This is because we have no precise equivalent in English. You can pick up these terms as you go along.</p>
        </section>

        <section>
            <h2>I’m interested in starting, but I may not be able to come to practice every week. What should I do?</h2>

            <p>There’s no substitute for regular, continued practice. However, if the student has a sincere desire to learn, but weekly practice is impossible due to geographic or scheduling problems, coming to practice every other week, or even once a month can be arranged. We are happy to work with and support any student who has a sincere desire to learn.</p>
        </section>

        <section>
            <h2>What is the etiquette in the dojo?</h2>

            <p>Practice sessions are supposed to be positive, enjoyable experiences. While the atmosphere is quiet and focused, it isn’t melancholy, tense or somber. During each session, conduct yourself in a way that is dignified, respectful of others, attentive to what’s going on around you, cooperative and focused on the matter at hand.</p>
        </section>

        <section>
            <h2>How do I address the instructors?</h2>

            <p>In Japan, especially in the martial arts, a teacher is called “Sensei”. In Kyudo, however, that honor is reserved for those attaining Shogo, or teacher certification (Renshi, Kyoshi or Hanshi). At present, no one at the VKR has this rank, so the title of Sensei isn’t used.</p>

            <p>Out of tradition, the President of a Renmei may be called “Kaicho” (= “President”), but we in Virginia are not strict about this. Generally, instructors and students alike are free to use first names.</p>
        </section>

        <section>
            <h2>What should I wear?</h2>

            <p>Advanced students wear a white keiko-gi (short-sleeved upper garment) with obi (sash), dark blue or black hakama (divided skirt-like lower garment) and white tabi (split-toed socks). New students should wear a white, close-fitting pull-over shirt (a T-shirt is fine), black, loose-fitting pants (such as warm-up pants), and white socks. No logos, bright colors, or fancy designs, please.</p>

            <p>Also, for reasons of both tradition and safety, it is customary to remove all jewelry and other adornments, to include earrings and wedding rings.</p>

            <p>NOTE: In Kyudo, we strive for an understated form of beauty which the Japanese call “Shibui”.</p>
        </section>

        <section>
            <h2>What's a typical practice like?</h2>

            <p>Please arrive on time and greet your instructor (so they know you’re present). Order of activities:</p>

            <ul>
                <li>Dojo preparation (clean up the gym and set up equipment -- please help).</li>
                <li>Take care of your personal equipment: yumi (bow), ya (arrows) and yugake (glove).</li>
                <li>Group opening assembly (greeting, stretching and quiet sitting)</li>
                <li>Kyudo instruction and practice</li>
                <li>Put away your personal equipment</li>
                <li>Group closing assembly (quiet sitting and dismissal)</li>
                <li>Dojo take-down and gym cleanup. (Please help.)</li>
            </ul>

            <p>Because of time limitations, be on time and accomplish each requirement quickly, but with your full attention.</p>
        </section>

        <section>
            <h2>Can we help each other during practice?</h2>

            <p>At VKR practice sessions, we all try to help one another. Sometimes this includes pointing out to fellow students problems with their form that they cannot see on their own (such as their arrows not being parallel to the floor during hikiwake). While this is normal, ONLY INSTRUCTORS ARE TO GIVE KYUDO INSTRUCTION. This rule is intended to limit the confusion that comes from conflicting or erroneous direction.</p>

            <p>It is wise to be aware of the relative rank of other Kyudo students. As a standard courtesy, do not offer advice to students who rank higher than you do.</p>
        </section>

        <section>
            <h2>What should I excpect my progress to be like?</h2>

            <p>Learning Kyudo is a long, sometimes fulfilling, sometimes difficult process. When you watch others perform a Kyudo ceremony it looks deceptively easy – but it’s not as easy as it appears.</p>

            <p>Different students develop in different ways. Some beginning students start out learning quickly, yet have difficulty with later progress. Other students will have difficulty mastering the basic forms, then, once mastered, make rapid progress thereafter. THERE IS NO ONE RIGHT WAY TO DEVELOP IN KYUDO.</p>

            <p>Each student must develop along his or her own path. For this reason, beginning students must be careful not to compare themselves with others. It is the Instructor’s responsibility to gauge the needs of the student and urge them along their path.</p>

            <p>Likewise, there is NEVER any competition among Kyudo students. Even the occasional shooting competition is treated as a personal training exercise. There must never be envy of those who advance ahead of you, nor disrespect of those behind you. Each of them, as you, is following their individual path of development.</p>
        </section>
    </div>
</article>