<article id="faq_page" class="home_page_article">
    <div class="bellmaker_container">
        <h1>Our Kyudo Lineage</h1>

        <p>Prior to the establishment of the All Japan Kyudo Federation (Zen Nihon Kyudo Renmei or ZNKR) in 1948, the Way of the Japanese Bow was taught by a number of great masters in their individual schools. This resulted in a variety of shooting styles.</p>

        <p>Most historical Kyudo schools emphasized shooting skill as well as ceremony. However, as years passed, schools such as the Ogasawara tradition became more involved with the Imperial court and their emphasis on ceremonial form expanded. Early on, the teachings of each school were closely guarded. However, as peace prevailed each school began to recognize value in the teachings of other schools and there was a gradual merging of some of the teaching points.</p>

        <p>Also, the unique design of the Japanese bow requires a particular way of gripping it, and a particular way of drawing the string and releasing the arrow for the bow to perform as intended. These factors help define the meaning of ‘correct’ Kyudo and generate a lot of common practices among the various schools.</p>

        <p>With the inauguration of the ZNKR, the underlying principles of proper shooting were codified and a common style for ceremonial movement was developed. This common style was not intended to replace the practices of traditional schools, but rather to allow members of different schools to shoot together in a harmonious way. So today, Kyudo retains a number of the traditional schools, but also includes a standard form.</p>

        <p>However, the experience of performing Kyudo is so complex and so profound, that different teachers of the common form teach it in different ways, emphasizing different aspects. Shown below are a few great masters who have influenced the style of Kyudo as it is performed and taught at the Virginia Kyudo Renmei.</p>
    </div>
</article>

