
<!--<p>{{ breakpoints}}</p>-->



<div id="banner_container">
    <div class="bellmaker_container">
        <div id="kyudo_kanji">
            <div>
                <img src="/images/kyudo_kanji_600x1300.png" />
            </div>
        </div>
        <header role="banner">
            <h1>Northern Virginia Kyudo Renmei</h1>
        </header>
        <div id="banner_images">
            <figure>
                <a href="">
                    <img src="images/placeholder_1008x567.jpg" />
                    <p>Captions</p>
                </a>
            </figure>
        </div>
        <div id="quick_info">
            <p>Capital Area Budokai<br />
                25 S. Quaker Lane, Alexandria, VA 22314<br />
                Practice: 3&ndash;6pm Saturdays</p>
        </div>
    </div>
</div>



<div id="wabi_sabi" class="home_page_article">
    <div class="bellmaker_container">
        <section>
            <p>Kyudo is an elegant, ceremonial, non-combative method of shooting the traditional Japanese bow and arrow. Kyudo requires, and therefore develops, a balanced body that works in concert with a peaceful mind.</p>

            <p>Kyudo, literally "the Way (or Path) of the Bow", is a path that takes a lifetime to travel. Early progress in the basic forms of Kyudo soon give way to deeper insights into specific details. Each successive insight leads the student to a greater appreciation of the depth, subtlety and sincerity of the Kyudo experience.</p>

            <p>One of Japan's oldest and purest martial arts, today Kyudo is practiced by men and women throughout the world.</p>
        </section>
    </div>
</div>


<div class="home_page_article">
    <div class="bellmaker_container">
        <section>
            <h2>How to Become a Student</h2>
            
            <p>If you are interested in practicing Kyudo with us, the best way to start is to simply come to one of our practices. You will be able to attend and participate in a few practices before you are asked to sign anything or pay any money.</p>

            <p>Many people begin their Kyudo practice because it looks beautiful, but soon discover that the beauty of the Kyudo performance comes as a result of hard work and discipline.</p>

            <p>It’s not as easy as it looks! We try to give prospective students a chance to make sure they really want to do this before making any commitments.</p>

            <p>Read the FAQs for more information &raquo;</p>
        </section>
    </div>
</div>


<article id="lineage">
    <div class="bellmaker_container">
        <h2>Our Kyudo Lineage</h2>
        <tabbed-content orientation="vertical">
            <tabbed-pane data-ng-repeat="master in masters" title="{{ master.name }}">
                <div data-ng-bind-html="master.description"></div>
            </tabbed-pane>
        </tabbed-content>
    </div>
</article>





<article id="kasumi">
    <div data-bellmaker-background="'[-240,-300,-360,-440]'">
        <div class="bellmaker_container" data-bellmaker-background="'[-240,-300,-360,-440]'">
            <p>Foo</p>
        </div>
    </div>
</article>




<div ng-controller="pageArticleController">
<div page-article>Page Article</div>
</div>




<!--
<div ng-controller="LineageArticleController">
<lineage-article lineage-info="lineage" master-description='masterDescription'></lineage-article>
</div>
-->



<div id="photo_switcher">
    <figure>
        <a href="">
            <img src="images/img_001.png" />
            <p>And that</p>
        </a>
    </figure>
    <figure>
        <a href="">
            <img src="images/img_002.png" />
            <p>And that</p>
        </a>
    </figure>
    <figure>
        <a href="">
            <img src="images/img_003.png" />
            <p>And that</p>
        </a>
    </figure>

</div>







<footer role="contentinfo">
    <p>&copy; 2014 Northern Virginia Kyudo Renmei</p>
    <p>By Jimmy Ha, <a href="http://herereadthis.com">herereadthis.com</a></p>
</footer>
