
<p>{{ breakpoints}}</p>



<div id="banner_container">
    <div class="bellmaker_container">
        <div id="kyudo_kanji">
            <div>
                <img src="/images/kyudo_kanji_600x1300.png" />
            </div>
        </div>
        <header role="banner">
            <h1>Northern Virginia Kyudo Renmei</h1>
        </header>
        <div id="banner_images">
            <figure>
                <a href="">
                    <img src="images/placeholder_1008x567.jpg" />
                    <p>Captions</p>
                </a>
            </figure>
        </div>
        <div id="quick_info">
            <p>Capital Area Budokai<br />
                25 S. Quaker Lane, Alexandria, VA 22314<br />
                Practice: 3&ndash;6pm Saturdays</p>
        </div>
    </div>
</div>



<article id="wabi_sabi">
    <div class="bellmaker_container">
        <section>
            <p>Kyudo is an elegant, ceremonial, non-combative method of shooting the traditional Japanese bow and arrow. Kyudo requires, and therefore develops, a balanced body that works in concert with a peaceful mind.</p>

            <p>Kyudo, literally "the Way (or Path) of the Bow", is a path that takes a lifetime to travel. Early progress in the basic forms of Kyudo soon give way to deeper insights into specific details. Each successive insight leads the student to a greater appreciation of the depth, subtlety and sincerity of the Kyudo experience.</p>

            <p>One of Japan's oldest and purest martial arts, today Kyudo is practiced by men and women throughout the world.</p>
        </section>
    </div>
</article>


<div ng-controller="MastersController">
    <article id="lineage">
        <div class="bellmaker_container">
            <section class="bellmaker_container">
                <h2>Our Kyudo Lineage</h2>
                <ul id="master_selection">
                    <li data-ng-repeat="master in masters" data-ng-class="{selected: master.id === selectedTab}">
                        <a data-ng-click="toggleMaster(master.id)" ng-bind="master.name"></a>
                    </li>
                </ul>
                <div id="master_description" data-ng-bind-html="masterDescription"></div>
            </section>
        </div>
    </article>
</div>


<div>
    <article>
        <div class="bellmaker_container">
            <h2>FooBar directive</h2>
            <foo-bar customer-info="naomi"></foo-bar>
            <foo-bar customer-info="igor"></foo-bar>
        </div>
    </article>
</div>


<article id="kasumi">
    <section class="bellmaker_container">
        <p>Foo</p>
    </section>
</article>



<div page-article>Page Article</div>

<lineage-article lineage-info="lineage" master-description='masterDescription'></lineage-article>

<div style="clear: both;height: 50rem;"></div>

<h1 style="float: right;">Kyudo</h1>


<div id="photo_switcher">
    <figure>
        <a href="">
            <img src="images/img_001.png" />
            <p>And that</p>
        </a>
    </figure>
    <figure>
        <a href="">
            <img src="images/img_002.png" />
            <p>And that</p>
        </a>
    </figure>
    <figure>
        <a href="">
            <img src="images/img_003.png" />
            <p>And that</p>
        </a>
    </figure>

</div>




    <!-- Add your site or application content here -->
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a ng-href="#">Home</a></li>
          <li><a ng-href="#/about">About</a></li>
          <li><a ng-href="#">Contact</a></li>
        </ul>
        <h3 class="text-muted">foo</h3>
      </div>





<footer role="contentinfo">
    <p>&copy; 2014 Northern Virginia Kyudo Renmei</p>
    <p>By Jimmy Ha, <a href="http://herereadthis.com">herereadthis.com</a></p>
</footer>
