
<div id="banner_container">
    <div class="bellmaker_container">
        <header role="banner">
            <h1><span>Virginia</span> Kyudo Renmei</h1>

            <p>Capital Area Budokai<br />
            <span>25 S. Quaker Lane,</span>
            Alexandria, VA 22314<br />
            Practice: 3&ndash;6pm Saturdays</p>
        </header>
        <div id="kanji_box">
            <img src="/images/kyudo_kanji_600x1300.gif" />
        </div>
        <div id="banner_carousel">
            <ul>
                <li ng-repeat="image in imageCarousel">
                    <a href title="image.description">
                        <span ng-style="getBg(image)"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="wabi_sabi" class="home_page_article">
    <div class="bellmaker_container">
        <section>
            <h2>Kyudo 弓道 - Way of the Bow</h2>
            
            <p>Kyudo is an elegant, ceremonial, non-combative method of shooting the traditional Japanese bow and arrow. Kyudo requires, and therefore develops, a balanced body that works in concert with a peaceful mind.</p>

            <p>Kyudo, literally "the Way (or Path) of the Bow", is a path that takes a lifetime to travel. Early progress in the basic forms of Kyudo soon give way to deeper insights into specific details. Each successive insight leads the student to a greater appreciation of the depth, subtlety and sincerity of the Kyudo experience.</p>

            <p>One of Japan's oldest and purest martial arts, today Kyudo is practiced by men and women throughout the world.</p>
        </section>
    </div>
</div>

<div class="home_page_article">
    <div class="bellmaker_container">
        <section>
            <h2>How to Become a Student</h2>
            
            <p>If you are interested in practicing Kyudo with us, the best way to start is to simply come to one of our practices. You will be able to attend and participate in a few practices before you are asked to sign anything or pay any money.</p>

            <p>Many people begin their Kyudo practice because it looks beautiful, but soon discover that the beauty of the Kyudo performance comes as a result of hard work and discipline.</p>

            <p>It’s not as easy as it looks! We try to give prospective students a chance to make sure they really want to do this before making any commitments.</p>

            <!-- <p><strong><a href="/#/faq">Read the FAQs for more information &raquo;</a></strong></p> -->
        </section>
    </div>
</div>

<footer role="contentinfo">
    <div class="bellmaker_container">
        <div id="affiliation">
            <figure>
                <div><img src="/images/logos/vkr_300x300.png" width="100%" /></div>
                <figcaption>
                    <p>Virginia Kyudo Renmei<br />
                        <span>a member organization of</span>
                    </p>
                </figcaption>
            </figure>
            <figure>
                <div><img src="/images/logos/akr_150x152.png" width="100%" /></div>
                <figcaption>
                    <p>American Kyudo Renmei<br />
                        <span>in accordance with</span>
                    </p>
                </figcaption>
            </figure>
            <figure>
                <div><img src="/images/logos/ikyf_600x508.jpg" width="100%" /></div>
                <figcaption>
                    <p>International Kyudo Federation<br />
                        <span>governing worldwide body</span>
                    </p>
                </figcaption>
            </figure>
        </div>
        <div id="vital_info">
            <p>Virginia Kyudo Renmei practices at the <a title="Capital Area Budokai" href="http://www.capitalareabudokai.org/">Capital Area Budokai</a></p>
            <p>Contact: Bill Reid, wjreid@yahoo.com</p>
            <p>Site by <a href="http://herereadthis.com/" title="Here, Read This">herereadthis</a></p>
        </div>
    </footer>

