
<div id="banner_container">
    <div class="bellmaker_container">
        <header role="banner">
            <h1>Virginia Kyudo Renmei</h1>

            <p>Capital Area Budokai<br />
            <span>25 S. Quaker Lane,</span>
            Alexandria, VA 22314<br />
            Practice: 3&ndash;6pm Saturdays</p>
        </header>
        <div id="kanji_box">
            <img src=" /images/kyudo_kanji_600x1300.png" />
        </div>
        <div id="banner_carousel">
            <ul>
                <li><a href>1</a></li>
                <li><a href>2</a></li>
                <li><a href>3</a></li>
                <li><a href>4</a></li>
                <li><a href>5</a></li>
            </ul>
        </div>
    </div>
</div>

