#wabi_sabi {
    section {
        min-height: 100vh;
        .bellmaker_factor(width,0.5);
        .bellmaker_factor(padding-left, 0.375);
    }
    p:first-child {
        padding-top: 2.2rem;
    }
}